<!--

    (Close to) Single page application

-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The below doesn't support ES6 module loading, must use like this -->
  <script src="../dist/jquery.min.js"></script>
  <link rel="stylesheet" href="../dist/bootstrap.min.css">
  <script src="../dist/bootstrap.min.js"></script>
  <script src="../dist/jquery.dataTables.js"></script>
  <link rel="stylesheet" href="../dist/css/jquery.dataTables.css">
  <!-- Use ES 6 -->
  <script type="module" src="./booktable.js"></script>
  <script type="module" src="../control/bookCtrl.js"></script>

  <!-- Use ES5 Babel, Watchify (see README) -->
  <!--<script type="text/javascript" src="../dist/bundle.js"></script>-->

  <title>Book</title>
</head>

<body>
  <script>
  </script>
  <!-- This is where the table should hook to the DOM -->
  <div class="container">
    <!-- TODO generate from JS -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Library  </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/view/author.html">Author</a></li>
          <li><a href="/view/book.html">Book</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <img src="../resources/img/banner.jpg" class="img-responsive" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>Book</h2>
        <p>Click in table to edit/delete</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Tha add book form part -->
        <div class="form-group">
          <div class="row">
            <div class="col-md-1">
              <span class="label label-info">Add Book</span>
            </div>
            <div class="col-md-1">
              <input id="isbn" type="text" class="form-control" placeholder="Isbn">
            </div>
            <div class="col-md-2">
              <input id="title" type="text" class="form-control" placeholder="Title">
            </div>
            <div class="col-md-2">
              <input id="price" type="text" class="form-control" placeholder="Price">
            </div>
            <div class="col-md-1">
              <button id="add" type="button" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- Here the datatable hooks in -->
        <table id="book" class="stripe" width="100%">
          <thead>
            <tr>
              <th>Isbn</th>
              <th>Title</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- This is a pop up dialog -->
  <div id="editDeleteModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Update or Delete?</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <!-- Isbn must be unique in page, so can't reuse isbn here -->
              <input id="misbn" type="text" disabled="true" />
            </div>
            <div class="form-group">
              <input id="mtitle" type="text" />
            </div>
            <div class="form-group">
              <input id="mprice" type="text" />
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button id="update" type="button" class="btn btn-primary">Update</button>
            <button id="delete" type="button" class="btn btn-danger">Delete</button>
        </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
  </div>
</body>

</html>
